// Global colour Vriables
$white-theme: #fcfcfc;
$color-grey-light-1 : #f7f7f7;
$orange-theme:rgb(255, 111, 67);
$yellow-theme:rgb(255, 222, 130);
// Global font sizes
$default-font-size: 1.6rem;

// global variable grid
$grid-width: 90rem;
$gutter-vertical: 6rem;
$gutter-vertical-small:4rem;
$gutter-horizontal: 4rem;