.card{
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
  &__side{
    background-color: orangered;
    color: #424242;
    font-size: 2rem;

    height: 40rem;
    transition: all 800ms ease;
    position: absolute;
    top:0;
    left:0;    
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0, .15);
    
    &--front{
      background-color: $white-theme;
    }
    &--back{
      background-color: purple;
      color: #f4f4f4;      
      transform: rotateY(180deg);
      &-1{
        background-image: linear-gradient(to right bottom, #F27370, #FA9856);
      }
      &-2{
        background-image: linear-gradient(to right bottom, #BEEB9F, #79BD8F);
      }
      &-3{
        background-image: linear-gradient(to right bottom, #2FE1D6, #38C6BD);
      }
    }
  }
  &:hover &__side--front{
    transform: rotateY(180deg);
    .card__heading{
      right: 0rem;
      transform: scale(.9);
    }
    }
    &:hover &__side--back{
      transform: rotateY(0);
      }
      //Front Side Styling
  &__picture{
    background-size: cover;
    height:20rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    &--1{
        background-image:linear-gradient(to right bottom, #f27370, #fa9856), url(../img/card-1.png);
      }
    &--2{
      background-image: linear-gradient(to right bottom, #BEEB9F, #79BD8F), url(../img/card-2.png);
      }
    &--3{
        background-image:linear-gradient(to right bottom, #2FE1D6, #38C6BD), url(../img/card-3.png);
      }
  }
  &__heading{
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $white-theme;
    transition: all 300ms linear;
    position: absolute;
    top: 15rem;
    right: 2rem;
    padding: 0 15px;
    &--1{
      background-image: linear-gradient(to right bottom, rgba(255, 74, 71, .70), rgba(212, 102, 29, .70)) ;
    }
    &--2{
      background-image: linear-gradient(to right bottom, rgba(227, 255, 71, 0.7), rgba(72, 212, 29, 0.7)) ;
    }
    &--3{
      background-image: linear-gradient(to right bottom, rgba(71, 255, 255, 0.7),rgba(29, 78, 212, 0.7)) ;
    }
  }
  &__details{
    ul{
      list-style: none;
      width: 80%;
      margin: 0 auto;
      li{
        text-align: center;
        font-size: 1.6rem;
        font-weight: 100;
        padding: 5px 0 5px 0;
        &:not(:last-child){
          border-bottom: 1px solid#d4d4d4;
        }
      }
    }
  }
  //Front side styling
  &__cta{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  &__price-box{
    text-align: center;
    color: $white-theme;
    margin-bottom: 6rem;
  }
  &__price-only{
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  &__price-value{
    font-size: 6rem;
    font-weight: 100;
  }
}
