.mob__navigation {
    width: 100%;
    display: none;
    @include response(tab-port){
        display: block;
    }
    &__checkbox{
        display: none;
    }
    &__btn{
        background-color: $white-theme;
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        text-align: center;

        @include response(tab-port){
            top: 4rem;
            right:4rem;
        }
        @include response(phone){
            top: 3rem;
            right:3rem;
        }
    }
    &__bg{
        height:5rem;
        width:5rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($orange-theme,$yellow-theme);
        z-index: 1000;
        transform: scale(1);
        transition: transform .75s cubic-bezier(.65,.01,.3,.99);

        @include response(tab-port){
            top: 4.5rem;
            right:4.5rem;
        }
        @include response(phone){
            top: 3.5rem;
            right:3.5rem;
        }
    }
    &__nav{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1500;
        opacity: 0;
        visibility: hidden;
        transition: all .8s cubic-bezier(.65,.01,.3,.99);
    }   
    &__list{
        @include absolutecenter;
        list-style: none;
        text-align: center;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        
        &:link,
        &:visited{
            display: inline-block;
            font-size: 2.5rem;
            font-weight: 300;
            color: $white-theme;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $white-theme 50%);
            background-size: 300%;
            transition: all .41s;
            padding: 0 2rem;

            @include response(phone){
                font-size: 2rem;
                padding:1rem 0;
            }
        }
        &:hover,
        &:active{
            background-position: 100%;
            color: $orange-theme;
            transform: scale(1.1);
        }
    }
    // functionality
    
    &__checkbox:checked ~ &__bg{
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav{
        opacity: 1;
        visibility: visible;
    }
    // Icon
    &__icon{
        position: relative;
        margin-top: 2.9rem;
        &,
        &::before,
        &::after{
            width:3rem;
            height: 2px;
            background-color: #424242;
            display: inline-block;
        }
        
        &::before,
        &::after{
            content:'';
            position: absolute;
            left: 0;
            transition: all .2s;
        }
        &::before{top:-.9rem;}
        &::after{top:.9rem;}
    }
    &__btn:hover &__icon::before{
        top: -1.1rem;
    }
    &__btn:hover &__icon::after{
        top: 1.1rem;
    }

    &__checkbox:checked + &__btn &__icon{
        background-color: transparent;
    }

    &__checkbox:checked + &__btn &__icon::before{
        top:0;
        transform: rotate(135deg);
    }
    
    &__checkbox:checked + &__btn &__icon::after{
        top:0;
        transform: rotate(-135deg);
    }
}


