*, *::after, *::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 90%;
  scroll-behavior: smooth;
}

@media (max-width: 37.5em) {
  html {
    font-size: 40%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 75em) {
  html {
    font-size: 66.25%;
  }
}

@media (max-width: 85.375em) {
  html {
    font-size: 70%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 90%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fcfcfc;
  padding: 2rem;
  overflow-x: hidden;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@-webkit-keyframes l-animation {
  0% {
    top: 2.1rem;
    left: 3rem;
  }
  50% {
    top: 8.2rem;
    left: 3rem;
  }
  100% {
    top: 8.2rem;
    left: 10.9rem;
  }
}

@keyframes l-animation {
  0% {
    top: 2.1rem;
    left: 3rem;
  }
  50% {
    top: 8.2rem;
    left: 3rem;
  }
  100% {
    top: 8.2rem;
    left: 10.9rem;
  }
}

@-webkit-keyframes dot-animation {
  0% {
    top: 2.2rem;
    left: 4.2rem;
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    left: 4.2rem;
    top: 7.4rem;
  }
  85% {
    left: 13rem;
  }
  95% {
    left: 12rem;
  }
  100% {
    top: 7.4rem;
    left: 12.55rem;
    -webkit-transform: rotate(45deg) scale(1.5);
            transform: rotate(45deg) scale(1.5);
  }
}

@keyframes dot-animation {
  0% {
    top: 2.2rem;
    left: 4.2rem;
    -webkit-transform: rotate(0) scale(0);
            transform: rotate(0) scale(0);
  }
  50% {
    left: 4.2rem;
    top: 7.4rem;
  }
  85% {
    left: 13rem;
  }
  95% {
    left: 12rem;
  }
  100% {
    top: 7.4rem;
    left: 12.55rem;
    -webkit-transform: rotate(45deg) scale(1.5);
            transform: rotate(45deg) scale(1.5);
  }
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes moveUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5rem);
            transform: translateY(5rem);
  }
  100% {
    opacity: .9;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes skewText {
  0% {
    -webkit-transform: skewY(0) skewX(0) scale(1);
            transform: skewY(0) skewX(0) scale(1);
  }
  100% {
    -webkit-transform: skewY(-3deg) skewX(-3deg) scale(1.1);
            transform: skewY(-3deg) skewX(-3deg) scale(1.1);
  }
}

@keyframes skewText {
  0% {
    -webkit-transform: skewY(0) skewX(0) scale(1);
            transform: skewY(0) skewX(0) scale(1);
  }
  100% {
    -webkit-transform: skewY(-3deg) skewX(-3deg) scale(1.1);
            transform: skewY(-3deg) skewX(-3deg) scale(1.1);
  }
}

@-webkit-keyframes bgin {
  from {
    -webkit-transform: skew(-45deg) translate(-150%);
            transform: skew(-45deg) translate(-150%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(-50%);
            transform: skew(-45deg) translate(-50%);
  }
}

@keyframes bgin {
  from {
    -webkit-transform: skew(-45deg) translate(-150%);
            transform: skew(-45deg) translate(-150%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(-50%);
            transform: skew(-45deg) translate(-50%);
  }
}

@-webkit-keyframes bgout {
  from {
    -webkit-transform: skew(-45deg) translate(-50%);
            transform: skew(-45deg) translate(-50%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(50%);
            transform: skew(-45deg) translate(50%);
  }
}

@keyframes bgout {
  from {
    -webkit-transform: skew(-45deg) translate(-50%);
            transform: skew(-45deg) translate(-50%);
  }
  to {
    -webkit-transform: skew(-45deg) translate(50%);
            transform: skew(-45deg) translate(50%);
  }
}

@-webkit-keyframes growout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .2;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: .1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    display: none;
  }
}

@keyframes growout {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: .2;
  }
  50% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: .1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
    display: none;
  }
}

@-webkit-keyframes animateBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes animateBg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4;
}

.heading-primary {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
}

@media (max-width: 37.5em) {
  .heading-primary {
    line-height: 1;
  }
}

.heading-primary--main {
  letter-spacing: 1.1rem;
  font-size: 6.5rem;
  display: block;
  color: #fcfcfc;
  font-weight: 700;
  -webkit-animation: moveInLeft 600ms cubic-bezier(0, 0.98, 0.88, 1.01) forwards;
          animation: moveInLeft 600ms cubic-bezier(0, 0.98, 0.88, 1.01) forwards;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: .5rem;
    font-size: 5rem;
  }
}

.heading-primary--sub {
  letter-spacing: .2rem;
  font-size: 2.8rem;
  display: block;
  color: #424242;
  font-weight: 100;
  -webkit-animation: moveInRight 600ms cubic-bezier(0, 0.98, 0.88, 1.01) forwards;
          animation: moveInRight 600ms cubic-bezier(0, 0.98, 0.88, 1.01) forwards;
}

@media (max-width: 56.25em) {
  .heading-primary--sub {
    font-size: 2rem;
  }
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    margin-top: .5rem;
    font-size: 1.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 58, 58, 0.931)), color-stop(rgba(255, 187, 84, 0.945)), to(rgba(255, 111, 67, 0.952)));
  background-image: linear-gradient(to right bottom, rgba(255, 58, 58, 0.931), rgba(255, 187, 84, 0.945), rgba(255, 111, 67, 0.952));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -webkit-transform-origin: center;
          transform-origin: center;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
    font-weight: 900;
  }
}

.u-center-text:hover > .heading-secondary {
  -webkit-animation: skewText 400ms forwards;
          animation: skewText 400ms forwards;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.2rem;
  font-weight: 100;
  text-align: justify;
}

.paragraph:not(:last-child) {
  margin-bottom: 3.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4.5rem;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-big {
  margin-bottom: 7rem;
}

@media (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-huge {
  margin-bottom: 9rem;
}

.btn, .btn:link, .btn:visited,
.discover__btn,
.discover__btn:link,
.discover__btn:visited {
  font-size: 2rem;
  display: inline-block;
  opacity: .9;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-top: 2rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

@media (max-width: 56.25em) {
  .btn, .btn:link, .btn:visited,
  .discover__btn,
  .discover__btn:link,
  .discover__btn:visited {
    font-size: 1.5rem;
  }
}

@media (max-width: 37.5em) {
  .btn, .btn:link, .btn:visited,
  .discover__btn,
  .discover__btn:link,
  .discover__btn:visited {
    padding: 1.5rem 1.8rem;
    font-size: 1.2rem;
  }
}

.btn-white {
  background-color: #fcfcfc;
  color: #424242;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.4);
  background-color: #15B1D7;
  color: #fcfcfc;
}

.btn:active {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.2rem 0.8rem rgba(0, 0, 0, 0.4);
}

.btn-animated {
  -webkit-animation: moveUp 0.3s cubic-bezier(0.94, 0.02, 0.59, 0.99) 0.4s backwards;
          animation: moveUp 0.3s cubic-bezier(0.94, 0.02, 0.59, 0.99) 0.4s backwards;
}

.btn-text:link, .btn-text:visited {
  text-align: center;
  display: inline-block;
  color: #f2a10a;
  padding: 4px 7px;
  border-radius: 3px;
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  text-decoration: none;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.btn-text:hover {
  color: #fcfcfc;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:hover:after {
  -webkit-animation-name: bgin;
          animation-name: bgin;
  -webkit-transform: skew(-45deg) translate(-50%);
          transform: skew(-45deg) translate(-50%);
}

.btn-text:active, .btn-text:focus {
  outline: none;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.btn-text:after {
  content: '';
  z-index: -1;
  width: 150%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-animation-name: bgout;
          animation-name: bgout;
  -webkit-animation-duration: 400ms;
          animation-duration: 400ms;
  -webkit-transform: skew(-45deg) translate(-150%);
          transform: skew(-45deg) translate(-150%);
}

.btn-text--orange {
  border: 2px solid #f2a10a;
  color: #f2a10a;
}

.btn-text--orange:after {
  background-color: #f2a10a;
}

.btn__next {
  font-size: 1.6rem;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card__btn--white {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-decoration: none;
  cursor: pointer;
  border: 3px solid #fafafa;
  border-radius: 4em;
  height: 2.8em;
  width: 8em;
  outline: none;
  overflow: hidden;
  color: #fafafa;
  -webkit-transition: all 0.3s 0.1s ease-out;
  transition: all 0.3s 0.1s ease-out;
  text-align: center;
  line-height: 250%;
}

@media (max-width: 56.25em) {
  .card__btn--white {
    margin-bottom: 2rem;
  }
}

.card__btn--white::before {
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 16em;
  height: 16em;
  line-height: 16em;
  left: -4em;
  top: -0.35em;
  text-align: center;
  -webkit-transition: -webkit-box-shadow 0.5s ease-out;
  transition: -webkit-box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out;
  transition: box-shadow 0.5s ease-out, -webkit-box-shadow 0.5s ease-out;
  z-index: -1;
}

.card__btn--white:hover {
  color: #424242;
  border: none;
}

.card__btn--white:hover::before {
  -webkit-box-shadow: inset 0 0 0 8em #fafafa;
          box-shadow: inset 0 0 0 8em #fafafa;
}

a.discover__btn {
  width: auto;
  height: auto;
  margin-top: 400px;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 4, 0, 0.9)), to(rgba(231, 105, 21, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(255, 4, 0, 0.9), rgba(231, 105, 21, 0.9));
  color: #fcfcfc;
  position: relative;
  -webkit-transition: all 450ms ease-out;
  transition: all 450ms ease-out;
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
}

a.discover__btn::before {
  content: '';
  width: inherit;
  height: inherit;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 4, 0, 0.7)), to(rgba(231, 105, 21, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(255, 4, 0, 0.7), rgba(231, 105, 21, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  opacity: 0;
}

a.discover__btn:hover::before {
  -webkit-animation: growout 450ms cubic-bezier(0.02, 0.47, 0.77, 0.76) forwards;
          animation: growout 450ms cubic-bezier(0.02, 0.47, 0.77, 0.76) forwards;
}

a.discover__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.4);
}

.book__popup .book__btn {
  margin-top: 400px;
  padding: 1rem 4rem;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 4, 0, 0.9)), to(rgba(231, 105, 21, 0.9)));
  background-image: linear-gradient(to right bottom, rgba(255, 4, 0, 0.9), rgba(231, 105, 21, 0.9));
  color: #fcfcfc;
  position: relative;
  -webkit-box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.4);
  list-style: none;
  text-decoration: none;
  font-size: 2rem;
  border-radius: 50px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.book__popup .book__btn:hover {
  padding: 1.5rem 4.5rem;
}

.book__popup .book__btn::before {
  content: '';
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 4, 0, 0.7)), to(rgba(231, 105, 21, 0.8)));
  background-image: linear-gradient(to right bottom, rgba(255, 4, 0, 0.7), rgba(231, 105, 21, 0.8));
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10rem;
  opacity: 0;
}

.book__popup .book__btn:hover::before {
  -webkit-animation: growout 450ms cubic-bezier(0.02, 0.47, 0.77, 0.76) forwards;
          animation: growout 450ms cubic-bezier(0.02, 0.47, 0.77, 0.76) forwards;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: .15;
  text-align: center;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 40rem;
}

.card__side {
  background-color: orangered;
  color: #424242;
  font-size: 2rem;
  height: 40rem;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-color: #fcfcfc;
}

.card__side--back {
  background-color: purple;
  color: #f4f4f4;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F27370), to(#FA9856));
  background-image: linear-gradient(to right bottom, #F27370, #FA9856);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#BEEB9F), to(#79BD8F));
  background-image: linear-gradient(to right bottom, #BEEB9F, #79BD8F);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2FE1D6), to(#38C6BD));
  background-image: linear-gradient(to right bottom, #2FE1D6, #38C6BD);
}

.card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card:hover .card__side--front .card__heading {
  right: 0rem;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#f27370), to(#fa9856)), url(../img/card-1.png);
  background-image: linear-gradient(to right bottom, #f27370, #fa9856), url(../img/card-1.png);
}

.card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#BEEB9F), to(#79BD8F)), url(../img/card-2.png);
  background-image: linear-gradient(to right bottom, #BEEB9F, #79BD8F), url(../img/card-2.png);
}

.card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#2FE1D6), to(#38C6BD)), url(../img/card-3.png);
  background-image: linear-gradient(to right bottom, #2FE1D6, #38C6BD), url(../img/card-3.png);
}

.card__heading {
  font-size: 2.6rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fcfcfc;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
  position: absolute;
  top: 15rem;
  right: 2rem;
  padding: 0 15px;
}

.card__heading--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 74, 71, 0.7)), to(rgba(212, 102, 29, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(255, 74, 71, 0.7), rgba(212, 102, 29, 0.7));
}

.card__heading--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(227, 255, 71, 0.7)), to(rgba(72, 212, 29, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(227, 255, 71, 0.7), rgba(72, 212, 29, 0.7));
}

.card__heading--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(71, 255, 255, 0.7)), to(rgba(29, 78, 212, 0.7)));
  background-image: linear-gradient(to right bottom, rgba(71, 255, 255, 0.7), rgba(29, 78, 212, 0.7));
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 100;
  padding: 5px 0 5px 0;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid #d4d4d4;
}

.card__cta {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.card__price-box {
  text-align: center;
  color: #fcfcfc;
  margin-bottom: 6rem;
}

.card__price-only {
  font-size: 1.8rem;
  font-weight: 900;
  text-transform: uppercase;
}

.card__price-value {
  font-size: 6rem;
  font-weight: 100;
}

@media (max-width: 56.25em) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fcfcfc;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    -webkit-transition: all 800ms ease;
    transition: all 800ms ease;
    position: relative;
    border-radius: 3px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .card__side--back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  }
  .card:hover .card__side--front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  .card:hover .card__side--front .card__heading {
    right: 2rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .card__details {
    padding: 1rem 3rem;
  }
  .card__cta {
    width: 100%;
    top: 0;
    left: 0;
    padding: 7rem 5rem 5rem 5rem;
    text-align: center;
    position: relative;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .card__price-box {
    text-align: center;
    margin-bottom: 3rem;
  }
  .card__price-only {
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100;
  }
}

.composition {
  position: relative;
}

.composition__photo {
  width: 55%;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  outline-offset: 1rem;
}

@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.3333333%;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
            box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  }
}

.composition__photo--p1 {
  left: 0;
  top: -2rem;
}

@media (max-width: 56.25em) {
  .composition__photo--p1 {
    top: 1.5rem;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}

.composition__photo--p2 {
  right: 0;
  top: .2rem;
}

@media (max-width: 56.25em) {
  .composition__photo--p2 {
    top: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    z-index: 100;
  }
}

.composition__photo--p3 {
  left: 20%;
  top: 3rem;
}

@media (max-width: 56.25em) {
  .composition__photo--p3 {
    top: 1rem;
    left: 0;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.composition__photo:hover {
  outline: 1.2rem solid #ffa33bd0;
  -webkit-transform: scale(1.05) translateY(-0.5rem);
          transform: scale(1.05) translateY(-0.5rem);
  -webkit-box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
  z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.feature-box {
  background-color: rgba(252, 252, 252, 0.6);
  font-size: 1.2rem;
  padding: 3rem;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.feature-box__icon {
  font-size: 5rem;
  margin-bottom: .5rem;
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: -webkit-gradient(linear, left top, right top, from(#45EBA5), to(#21ABA5));
  background-image: linear-gradient(to right, #45EBA5, #21ABA5);
  color: transparent;
}

.feature-box__icon--compass {
  background-image: -webkit-gradient(linear, left top, right top, from(#BBBBBB), to(#AAAAAA));
  background-image: linear-gradient(to right, #BBBBBB, #AAAAAA);
}

.feature-box__icon--map {
  background-image: -webkit-gradient(linear, left top, right top, from(#51ADCF), to(#0278AE));
  background-image: linear-gradient(to right, #51ADCF, #0278AE);
}

.feature-box__icon--heart {
  background-image: -webkit-gradient(linear, left top, right top, from(#FF8364), to(#FF4D4D));
  background-image: linear-gradient(to right, #FF8364, #FF4D4D);
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.02);
          transform: translateY(-1.5rem) scale(1.02);
}

.form__group:not(:last-child) {
  margin-bottom: .5rem;
}

.form__input {
  width: 95%;
  height: 4rem;
  font-size: 1.5rem;
  color: inherit;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 2px;
  background-color: rgba(250, 250, 250, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  display: block;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

@media (max-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}

.form__input:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid #3282b8;
}

.form__input:focus:invalid {
  border-bottom: 3px solid orangered;
}

.form__input::-webkit-input-placeholder {
  color: #999999;
}

.form__label {
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
  -webkit-transform: translateX(1.5rem);
          transform: translateX(1.5rem);
}

@media (max-width: 56.25em) {
  .form__radio-group {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: 1.5rem;
  cursor: pointer;
  position: relative;
  padding-left: 1rem;
}

.form__radio-btn {
  height: 2rem;
  width: 2rem;
  border: 5px solid orangered;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: -1.5rem;
  top: 0;
}

.form__radio-btn::after {
  content: "";
  display: block;
  height: .8rem;
  width: .8rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: orangered;
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.form__radio-input:checked ~ .form__radio-label .form__radio-btn::after {
  opacity: 1;
}

.story {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(252, 252, 252, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  text-align: left;
  -webkit-transform: skewX(-12deg);
          transform: skewX(-12deg);
}

@media (max-width: 37.5em) {
  .story {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

@media (max-width: 56.25em) {
  .story {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
}

.story > * {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

.story__shape {
  width: 11rem;
  height: 11rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-shape-outside: circle(50% at 50% 50%);
  -moz-shape-outside: circle(50% at 50% 50%);
  -ms-shape-outside: circle(50% at 50% 50%);
  -o-shape-outside: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  -moz-clip-path: circle(50% at 50% 50%);
  -ms-clip-path: circle(50% at 50% 50%);
  -o-clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-3rem) skewX(12deg);
          transform: translateX(-3rem) skewX(12deg);
  position: relative;
  overflow: hidden;
}

@media (max-width: 37.5em) {
  .story__shape {
    -webkit-transform: translateX(-3rem) skewX(0deg);
            transform: translateX(-3rem) skewX(0deg);
  }
}

.story__img {
  height: 100%;
  -webkit-transform: translateX(-3.5rem) scale(1.5);
          transform: translateX(-3.5rem) scale(1.5);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.story__text {
  -webkit-transform: skewX(12deg);
          transform: skewX(12deg);
}

@media (max-width: 37.5em) {
  .story__text {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
  }
}

.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -22%);
          transform: translate(-50%, -22%);
  color: #fafafa;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.story:hover .story__caption {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.story:hover .story__img {
  -webkit-transform: translateX(-3.5rem) scale(1);
          transform: translateX(-3.5rem) scale(1);
  -webkit-filter: blur(4px) brightness(70%);
          filter: blur(4px) brightness(70%);
}

.book__popup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(15, 15, 15, 0.9);
  z-index: 5000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.book__popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65%;
  height: 50rem;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  display: table;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  -webkit-transition: all .35s .2s;
  transition: all .35s .2s;
}

@media (max-width: 37.5em) {
  .book__popup__content {
    margin: 0 auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    overflow: hidden;
  }
}

@media (max-width: 56.25em) {
  .book__popup__content {
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    width: 90%;
  }
}

.book__popup__left {
  width: 33.333333%;
  height: 100%;
  display: table-cell;
}

@media (max-width: 37.5em) {
  .book__popup__left {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }
}

.book__popup__right {
  width: 66.666666%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

@media (max-width: 37.5em) {
  .book__popup__right {
    background-color: rgba(252, 252, 252, 0.8);
    width: 100%;
    height: auto;
    padding: 1rem 1.1rem;
  }
}

@media (max-width: 56.25em) {
  .book__popup__right {
    padding: 1.5rem 2.5rem;
  }
}

.book__popup__img {
  display: block;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.book__popup__img:nth-child(1) {
  border-radius: 3px 0 0 0;
}

@media (max-width: 37.5em) {
  .book__popup__img:nth-child(1) {
    display: none;
  }
}

.book__popup__img:nth-child(2) {
  border-radius: 0 0 0 3px;
}

@media (max-width: 37.5em) {
  .book__popup__img:nth-child(2) {
    -webkit-filter: blur(5px);
            filter: blur(5px);
  }
}

@media (max-width: 85.375em) {
  .book__popup__img {
    width: 100%;
    height: 10%;
  }
}

.book__popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -webkit-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  -webkit-column-rule: 1px solid #afafaf;
          column-rule: 1px solid #afafaf;
  hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
}

@media (max-width: 37.5em) {
  .book__popup__text {
    font-size: .5rem;
  }
}

@media (max-width: 85.375em) {
  .book__popup__text {
    font-size: 1rem;
  }
}

@media (max-width: 56.25em) {
  .book__popup__text {
    font-size: 1.1rem;
  }
}

@media (max-width: 75em) {
  .book__popup__text {
    -webkit-column-count: 1;
            column-count: 1;
  }
}

.book__popup:target {
  opacity: 1;
  visibility: visible;
}

.book__popup:target .book__popup__content {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.book__popup__close {
  z-index: 5000;
}

.book__popup__close:link, .book__popup__close:visited {
  color: #424242;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
  line-height: 1;
}

.book__popup__close:hover {
  color: orangered;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 222, 130, 0.8)), to(rgba(255, 111, 67, 0.8))), url(../img/sunset.jpeg);
  background-image: linear-gradient(to right bottom, rgba(255, 222, 130, 0.8), rgba(255, 111, 67, 0.8)), url(../img/sunset.jpeg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 75vh, 100% 0);
}

@media (max-width: 37.5em) {
  .header {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 85vh, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 85vh, 100% 0);
  }
}

.header__logo-box {
  font-family: 'Righteous', sans-serif;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  opacity: .9;
}

.header__logo-box h2 {
  color: #424242;
  border: none;
  position: absolute;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box h2 span {
  visibility: hidden;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box h2:hover {
  -webkit-animation: animateBg 4s linear infinite;
          animation: animateBg 4s linear infinite;
}

.header__logo-box .letter-t {
  font-size: 6.4rem;
  top: 1rem;
  left: 4rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box .letter-l {
  font-size: 3.2rem;
  top: 2.1rem;
  left: 3rem;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box .t-continue {
  font-size: 3rem;
  top: 3.6rem;
  left: 7rem;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box .l-continue {
  font-size: 2rem;
  top: 8.6rem;
  left: 15rem;
  opacity: 0;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.header__logo-box .dot {
  top: 2.9rem;
  left: 4.3rem;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.header__logo-box:hover > .letter-l {
  -webkit-animation: l-animation 350ms cubic-bezier(0, 0.26, 0.99, 0.54) forwards;
          animation: l-animation 350ms cubic-bezier(0, 0.26, 0.99, 0.54) forwards;
}

.header__logo-box:hover > .l-continue {
  opacity: 1;
  left: 12rem;
}

.header__logo-box:hover > .t-continue {
  opacity: 1;
  top: 4.7rem;
}

.header__logo-box:hover > .dot {
  -webkit-animation: dot-animation 500ms cubic-bezier(0, 0.99, 1, 1) forwards 200ms;
          animation: dot-animation 500ms cubic-bezier(0, 0.99, 1, 1) forwards 200ms;
}

@media (max-width: 56.25em) {
  .header__navigation {
    display: none;
  }
}

.header__navigation--menu {
  float: right;
  list-style: none;
}

.header__navigation--menu--items {
  padding: 1rem 2rem;
  display: inline-block;
}

.header__navigation--menu--items a {
  color: #fafafa;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.header__navigation--menu--items a:hover {
  letter-spacing: 5px;
}

.header__navigation--menu--items a::after, .header__navigation--menu--items a::before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 1px solid rgba(255, 255, 255, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  -webkit-transition: all 280ms ease-in-out;
  transition: all 280ms ease-in-out;
  width: 0;
}

.header__navigation--menu--items a:hover::after, .header__navigation--menu--items a:hover::before {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-color: #fff;
  -webkit-transition: width 350ms ease-in-out;
  transition: width 350ms ease-in-out;
  width: 100%;
}

.header__navigation--menu--items a:hover::before {
  bottom: auto;
  top: 0;
  width: 100%;
}

.row {
  max-width: 90rem;
  margin: 0 auto;
  text-align: center;
}

.row:not(:last-child) {
  margin-bottom: 6rem;
}

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 4rem;
  }
}

@media (max-width: 56.25em) {
  .row {
    max-width: 50rem;
    padding: 0 3rem;
  }
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 4rem;
}

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important;
  }
}

.row .col-1-of-2 {
  width: calc((100% - 4rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 4rem) / 3);
}

.row .col-2-of-3 {
  width: calc( 2 * ((100% - 2 * 4rem) / 3) + 4rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 4rem) / 4);
}

.row .col-2-of-4 {
  width: calc( 2 * ((100% - 3 * 4rem) / 4) + 4rem);
}

.row .col-3-of-4 {
  width: calc( 3 * ((100% - 3 * 4rem) / 4) + 2 * 4rem);
}

.footer {
  background-color: #2a3a4b;
  padding: 8rem 0;
  font-size: 1.4rem;
  color: #fafafa;
}

@media (max-width: 56.25em) {
  .footer {
    padding: 6rem 0;
  }
}

.footer__logo-box {
  text-align: center;
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .footer__logo-box {
    margin-bottom: 6rem;
  }
}

.footer__logo {
  width: 20rem;
  height: auto;
}

.footer__navigation {
  border-top: 1px solid #fafafa;
  padding-top: 2rem;
  display: inline-block;
}

@media (max-width: 56.25em) {
  .footer__navigation {
    width: 100%;
    text-align: center;
  }
}

.footer__list {
  list-style: none;
}

.footer__item {
  display: inline-block;
}

.footer__item:not(:last-child) {
  margin-right: 1.25rem;
}

.footer__link {
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.footer__link:link, .footer__link:visited {
  color: #d4d4d4;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
}

.footer__link:hover, .footer__link:active {
  color: orangered;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
  -webkit-transform: rotate(5deg) scale(1.3);
          transform: rotate(5deg) scale(1.3);
}

@media (max-width: 37.5em) {
  .footer__link:hover, .footer__link:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@media (max-width: 56.25em) {
  .footer__link:hover, .footer__link:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

@media (max-width: 75em) {
  .footer__link:hover, .footer__link:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
}

.footer__copyright {
  border-top: 1px solid #fafafa;
  padding-top: 2rem;
  width: 80%;
  float: right;
}

@media (max-width: 56.25em) {
  .footer__copyright {
    width: 100%;
    float: none;
  }
}

.mob__navigation {
  width: 100%;
  display: none;
}

@media (max-width: 56.25em) {
  .mob__navigation {
    display: block;
  }
}

.mob__navigation__checkbox {
  display: none;
}

.mob__navigation__btn {
  background-color: #fcfcfc;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
}

@media (max-width: 56.25em) {
  .mob__navigation__btn {
    top: 4rem;
    right: 4rem;
  }
}

@media (max-width: 37.5em) {
  .mob__navigation__btn {
    top: 3rem;
    right: 3rem;
  }
}

.mob__navigation__bg {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ff6f43, #ffde82);
  z-index: 1000;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.75s cubic-bezier(0.65, 0.01, 0.3, 0.99);
  transition: -webkit-transform 0.75s cubic-bezier(0.65, 0.01, 0.3, 0.99);
  transition: transform 0.75s cubic-bezier(0.65, 0.01, 0.3, 0.99);
  transition: transform 0.75s cubic-bezier(0.65, 0.01, 0.3, 0.99), -webkit-transform 0.75s cubic-bezier(0.65, 0.01, 0.3, 0.99);
}

@media (max-width: 56.25em) {
  .mob__navigation__bg {
    top: 4.5rem;
    right: 4.5rem;
  }
}

@media (max-width: 37.5em) {
  .mob__navigation__bg {
    top: 3.5rem;
    right: 3.5rem;
  }
}

.mob__navigation__nav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.8s cubic-bezier(0.65, 0.01, 0.3, 0.99);
  transition: all 0.8s cubic-bezier(0.65, 0.01, 0.3, 0.99);
}

.mob__navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
}

.mob__navigation__item {
  margin: 1rem;
}

.mob__navigation__link:link, .mob__navigation__link:visited {
  display: inline-block;
  font-size: 2.5rem;
  font-weight: 300;
  color: #fcfcfc;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fcfcfc 50%);
  background-size: 300%;
  -webkit-transition: all .41s;
  transition: all .41s;
  padding: 0 2rem;
}

@media (max-width: 37.5em) {
  .mob__navigation__link:link, .mob__navigation__link:visited {
    font-size: 2rem;
    padding: 1rem 0;
  }
}

.mob__navigation__link:hover, .mob__navigation__link:active {
  background-position: 100%;
  color: #ff6f43;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.mob__navigation__checkbox:checked ~ .mob__navigation__bg {
  -webkit-transform: scale(80);
          transform: scale(80);
}

.mob__navigation__checkbox:checked ~ .mob__navigation__nav {
  opacity: 1;
  visibility: visible;
}

.mob__navigation__icon {
  position: relative;
  margin-top: 2.9rem;
}

.mob__navigation__icon, .mob__navigation__icon::before, .mob__navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #424242;
  display: inline-block;
}

.mob__navigation__icon::before, .mob__navigation__icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.mob__navigation__icon::before {
  top: -.9rem;
}

.mob__navigation__icon::after {
  top: .9rem;
}

.mob__navigation__btn:hover .mob__navigation__icon::before {
  top: -1.1rem;
}

.mob__navigation__btn:hover .mob__navigation__icon::after {
  top: 1.1rem;
}

.mob__navigation__checkbox:checked + .mob__navigation__btn .mob__navigation__icon {
  background-color: transparent;
}

.mob__navigation__checkbox:checked + .mob__navigation__btn .mob__navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.mob__navigation__checkbox:checked + .mob__navigation__btn .mob__navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

main {
  background: #fcfcfc;
}

.section-about {
  padding: 20rem 0;
  margin-top: -20vh;
}

@media (max-width: 56.25em) {
  .section-about {
    padding: 15rem 0;
  }
}

.section-features {
  padding: 20rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 222, 130, 0.8)), to(rgba(255, 111, 67, 0.8))), url(../img/scenery-1.jpg);
  background-image: linear-gradient(to right bottom, rgba(255, 222, 130, 0.8), rgba(255, 111, 67, 0.8)), url(../img/scenery-1.jpg);
  background-size: cover;
  background-position: bottom;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -5rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

@media (max-width: 37.5em) {
  .section-features {
    padding: 5rem 1rem;
  }
}

@media (max-width: 56.25em) {
  .section-features {
    padding: 10rem 1rem;
  }
}

.section-tours {
  background-color: #fcfcfc;
  padding: 10rem 5rem;
  margin-top: 5rem;
}

@media (max-width: 56.25em) {
  .section-tours {
    padding: 5rem 1rem;
  }
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

@media (max-width: 56.25em) {
  .section-stories {
    padding: 10rem 0;
    margin-top: 4rem;
  }
}

.section-booking {
  padding: 10rem 0;
  margin-top: 10rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff806f), to(#fca23b));
  background-image: linear-gradient(to right bottom, #ff806f, #fca23b);
}

.book {
  background-image: linear-gradient(105deg, rgba(228, 228, 228, 0.78) 51.9%, transparent 52%), url(../img/booking-bg-img.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 3px;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  text-align: left;
}

@media (max-width: 75em) {
  .book {
    background-image: linear-gradient(105deg, rgba(228, 228, 228, 0.78) 65%, transparent 65.2%), url(../img/booking-bg-img.jpg);
    background-size: cover;
  }
}

@media (max-width: 56.25em) {
  .book {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(228, 228, 228, 0.78)), color-stop(100%, rgba(228, 228, 228, 0.78)), to(transparent)), url(../img/booking-bg-img.jpg);
    background-image: linear-gradient(to right, rgba(228, 228, 228, 0.78) 0%, rgba(228, 228, 228, 0.78) 100%, transparent 100%), url(../img/booking-bg-img.jpg);
  }
}

.book__form {
  width: 51%;
  padding: 6rem;
}

@media (max-width: 75em) {
  .book__form {
    width: 70%;
  }
}

@media (max-width: 56.25em) {
  .book__form {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */